#container{
    overflow: hidden;
}

#content{
    overflow: hidden;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(247, 164, 164);
}

#main-area{
    float: left;
    width: 75%;
    min-height: 600px;
    box-sizing: border-box;
    background-color: rgb(245, 233, 233);
}

#right-bar{
    border-left: 3px solid rgb(253, 165, 2);
    width: 25%;
    min-height: 600px;
    box-sizing: border-box;
    float: left;
    background-color: ivory;
}

#footer{
    min-height: 100px;
    width: 100%;
    background-color: rgb(9, 23, 104);
}